.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background-color: antiquewhite;
}

.search-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background-color: antiquewhite;
  margin: 1px;
  height: 50px;
}

.bold {
  font-weight: bold;
}

.darkmode-enabled {
  background-color: dimgray;
}

.darkmode-disabled {
  background-color: antiquewhite;
}

.card-container {
  border: solid;
  padding: 8px;
  background-color: beige;

  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.img {
  border-radius: 8px 8px 0 0;
}

.img:hover {
  cursor: pointer;
}

.card {
  box-shadow: rgb(0 0 0 / 8%) 0px 0.125rem 0.25rem;
  border-radius: 8px;
  width: 326px;
  background-color: blanchedalmond;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.region-option {
  width: 150px;
}
